.intro {
  background-image: url('../../public/assets/header-bg.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vw;
}